### Airlines tweets sentiments classification
## by J. E. Blanchet

In [212]:
import os
import re
import warnings
warnings.simplefilter("ignore", UserWarning)
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np 
from string import punctuation
from nltk.tokenize import word_tokenize
import nltk

#Need punkt to make text cleaning def properly working
nltk.download('punkt')
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, auc, roc_auc_score
from sklearn.externals import joblib
import scipy
from scipy.sparse import hstack
import seaborn as sns
from sklearn.metrics import roc_auc_score
sns.set_style("whitegrid")
sns.set_palette("pastel")

#Keras CNN, RNN stuff
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.text import text_to_word_sequence
from keras.preprocessing.sequence import pad_sequences
from keras.models import Model
from keras.models import Sequential
from keras.layers import Input
from keras.layers import Dense
from keras.layers import Embedding
from keras.layers import Conv1D
from keras.layers import Conv2D
from keras.layers import MaxPooling1D
from keras.layers import MaxPool2D
from keras.layers import Reshape
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers import Concatenate
from keras.layers import SpatialDropout1D 
from keras.layers import concatenate
from keras.layers import GRU 
from keras.layers import Bidirectional
from keras.layers import GlobalAveragePooling1D
from keras.layers import GlobalMaxPooling1D
from keras.callbacks import Callback
from keras.optimizers import Adam
from keras.callbacks import ModelCheckpoint 
from keras.callbacks import EarlyStopping
from keras.models import load_model
from keras.utils.vis_utils import plot_model

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jeblanch\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [213]:
import sys
print('Python: {}'.format(sys.version))
import scipy
print('scipy: {}'.format(scipy.__version__))
import numpy
print('numpy: {}'.format(numpy.__version__))
import matplotlib
print('matplotlib: {}'.format(matplotlib.__version__))
import pandas
print('pandas: {}'.format(pandas.__version__))
import sklearn
print('sklearn: {}'.format(sklearn.__version__))
import keras
print('keras: {}'.format(keras.__version__))
import tensorflow
print('tensorflow: {}'.format(tensorflow.__version__))

Python: 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
scipy: 1.3.1
numpy: 1.16.5
matplotlib: 3.1.1
pandas: 0.25.1
sklearn: 0.21.3
keras: 2.3.1
tensorflow: 2.0.0

In [214]:
DATA = pd.read_csv("C:/Users/jeblanch/Downloads/Tweets.csv")
DATA = DATA.sample(frac=1, random_state=42)

In [215]:
DATA.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [216]:
DATA.head(15)

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
4794,569731104070115329,positive,1.0000,NaN,NaN,Southwest,NaN,JasmineDT,NaN,1,@SouthwestAir you're my early frontrunner for ...,NaN,2015-02-22 21:30:54 -0800,Washington D.C.,Eastern Time (US & Canada)
10480,569263373092823040,negative,1.0000,Cancelled Flight,1.0000,US Airways,NaN,ElizabethFrayer,NaN,0,@USAirways how is it that my flt to EWR was Ca...,NaN,2015-02-21 14:32:19 -0800,NaN,NaN
8067,568818669024907264,negative,1.0000,Late Flight,0.6770,Delta,NaN,The_Radifier,NaN,0,@JetBlue what is going on with your BDL to DCA...,NaN,2015-02-20 09:05:13 -0800,"Arlington, VA",Atlantic Time (Canada)
8880,567775864679456768,neutral,1.0000,NaN,NaN,Delta,NaN,rnlewisjr,NaN,0,@JetBlue do they have to depart from Washingto...,NaN,2015-02-17 12:01:29 -0800,"iPhone: 60.495510,-151.064590",Alaska
8292,568526521910079488,negative,0.6625,Customer Service Issue,0.3394,Delta,NaN,beantoon,NaN,0,@JetBlue I can probably find some of them. Are...,NaN,2015-02-19 13:44:20 -0800,"Plymouth, MA",NaN
927,570008443626647552,negative,1.0000,Can't Tell,0.3477,United,NaN,kabell87,NaN,0,@united still waiting to hear back. My wallet ...,NaN,2015-02-23 15:52:57 -0800,NaN,NaN
3165,568622671287566336,negative,1.0000,Cancelled Flight,0.6871,United,NaN,stephaniefoos,NaN,0,@united Yes my flight was rebooked. I'm just l...,"[40.69522398, -74.1760931]",2015-02-19 20:06:23 -0800,"Boston, MA",Alaska
7894,569076569983086592,neutral,1.0000,NaN,NaN,Delta,NaN,theycallme_HH,NaN,0,@JetBlue Thank you ! What about Paris ? Could ...,"[0.0, 0.0]",2015-02-21 02:10:01 -0800,Orleans/Tarpon Springs/London,Amsterdam
2818,568884344221081600,negative,0.6869,Can't Tell,0.3434,United,NaN,andreamvdlg,NaN,0,"@united not 100% sure, however my ticket inclu...",NaN,2015-02-20 13:26:11 -0800,Edinbrah,Eastern Time (US & Canada)
9145,570119853312311296,positive,1.0000,NaN,NaN,US Airways,NaN,GrahamHaigh,NaN,0,@usairways great crew for flight 504 PHX to YV...,NaN,2015-02-23 23:15:40 -0800,"Vancouver, Canada",Pacific Time (US & Canada)
8983,570303720308809728,negative,1.0000,Customer Service Issue,1.0000,US Airways,NaN,jhazelnut,NaN,0,@USAirways I've been on hold to change a date ...,NaN,2015-02-24 11:26:17 -0800,NaN,NaN
5333,569184833361936387,neutral,0.6843,NaN,0.0000,Southwest,NaN,BavarianLin,NaN,0,@SouthwestAir I DM'd you,"[30.26196639, -97.75945775]",2015-02-21 09:20:13 -0800,New Jersey / Munich,Eastern Time (US & Canada)
5821,568572506300243968,positive,1.0000,NaN,NaN,Southwest,NaN,walterbiscardi,NaN,0,@SouthwestAir Already signed up! Thanks! Loo...,NaN,2015-02-19 16:47:03 -0800,Atlanta,Eastern Time (US & Canada)
5460,568975192615223296,neutral,0.6535,NaN,0.0000,Southwest,NaN,mmillanjr,NaN,0,@SouthwestAir it was 3472,NaN,2015-02-20 19:27:11 -0800,NaN,NaN
10397,569332237138841600,positive,0.3502,NaN,0.0000,US Airways,NaN,MattClement,NaN,0,@USAirways Oh well. I'll get to Cancun eventua...,NaN,2015-02-21 19:05:57 -0800,"Troy, NY",Eastern Time (US & Canada)

In [217]:
DATA = pd.read_csv("C:/Users/jeblanch/Downloads/Tweets.csv", encoding='latin1', 
usecols=['text', 'airline_sentiment'])

In [218]:
DATA.columns

Index(['airline_sentiment', 'text'], dtype='object')

In [219]:
DATA

      airline_sentiment                                               text
0               neutral                @VirginAmerica What @dhepburn said.
1              positive  @VirginAmerica plus you've added commercials t...
2               neutral  @VirginAmerica I didn't today... Must mean I n...
3              negative  @VirginAmerica it's really aggressive to blast...
4              negative  @VirginAmerica and it's a really big bad thing...
...                 ...                                                ...
14635          positive  @AmericanAir thank you we got on a different f...
14636          negative  @AmericanAir leaving over 20 minutes Late Flig...
14637           neutral  @AmericanAir Please bring American Airlines to...
14638          negative  @AmericanAir you have my money, you change my ...
14639           neutral  @AmericanAir we have 8 ppl so we need 2 know h...

[14640 rows x 2 columns]

In [220]:
le = LabelEncoder()
DATA['target'] = le.fit_transform(DATA['airline_sentiment'])
DATA=DATA.drop(['airline_sentiment'], axis=1)
DATA

                                                    text  target
0                    @VirginAmerica What @dhepburn said.       1
1      @VirginAmerica plus you've added commercials t...       2
2      @VirginAmerica I didn't today... Must mean I n...       1
3      @VirginAmerica it's really aggressive to blast...       0
4      @VirginAmerica and it's a really big bad thing...       0
...                                                  ...     ...
14635  @AmericanAir thank you we got on a different f...       2
14636  @AmericanAir leaving over 20 minutes Late Flig...       0
14637  @AmericanAir Please bring American Airlines to...       1
14638  @AmericanAir you have my money, you change my ...       0
14639  @AmericanAir we have 8 ppl so we need 2 know h...       1

[14640 rows x 2 columns]

In [221]:
print(DATA.shape)

(14640, 2)

In [222]:
DATA['target'].value_counts()

0    9178
1    3099
2    2363
Name: target, dtype: int64

### More advanced text cleaning for none embedding machine learning approches (bag of word (counter & vectorizer)

In [223]:
apostrophe_dict = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not", "didn't": "did not",  "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not", "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is",  "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would", "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would", "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam", "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have", "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock", "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is", "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as", "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would", "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have", "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have", "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are", "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are",  "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is", "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have", "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have", "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all", "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have","you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have", "you're": "you are", "you've": "you have" }
punct_dict = {"‘": "'", "₹": "e", "´": "'", "°": "", "€": "e", "™": "tm", "√": " sqrt ", "×": "x", "²": "2", "—": "-", "–": "-", "’": "'", "_": "-", "`": "'", '“': '"', '”': '"', '“': '"', "£": "e", '∞': 'infinity', 'θ': 'theta', '÷': '/', 'α': 'alpha', '•': '.', 'à': 'a', '−': '-', 'β': 'beta', '∅': '', '³': '3', 'π': 'pi', }
mispell_dict = {'colour': 'color', 'centre': 'center', 'favourite': 'favorite', 'travelling': 'traveling', 'counselling': 'counseling', 'theatre': 'theater', 'cancelled': 'canceled', 'labour': 'labor', 'organisation': 'organization', 'wwii': 'world war 2', 'citicise': 'criticize', 'youtu ': 'youtube ', 'Qoura': 'Quora', 'sallary': 'salary', 'Whta': 'What', 'narcisist': 'narcissist', 'howdo': 'how do', 'whatare': 'what are', 'howcan': 'how can', 'howmuch': 'how much', 'howmany': 'how many', 'whydo': 'why do', 'doI': 'do I', 'theBest': 'the best', 'howdoes': 'how does', 'mastrubation': 'masturbation', 'mastrubate': 'masturbate', "mastrubating": 'masturbating', 'pennis': 'penis', 'Etherium': 'Ethereum', 'narcissit': 'narcissist', 'bigdata': 'big data', '2k17': '2017', '2k18': '2018', 'qouta': 'quota', 'exboyfriend': 'ex boyfriend', 'airhostess': 'air hostess', "whst": 'what', 'watsapp': 'whatsapp', 'demonitisation': 'demonetization', 'demonitization': 'demonetization', 'demonetisation': 'demonetization'}

def clean_apostrophe(x, apos_dict):
    x = ' '.join([apos_dict[t] if t in apos_dict else t for t in x.split(" ")])
    return x
DATA['text'] = DATA['text'].apply(lambda y: clean_apostrophe(y, apostrophe_dict))

def clean_apostrophe(x, apos_dict):
    x = ' '.join([apos_dict[t] if t in apos_dict else t for t in x.split(" ")])
    return x
DATA['text'] = DATA['text'].apply(lambda y: clean_apostrophe(y, apostrophe_dict))

def clean_apostrophe(x, apos_dict):
    x = ' '.join([apos_dict[t] if t in apos_dict else t for t in x.split(" ")])
    return x
DATA['text'] = DATA['text'].apply(lambda y: clean_apostrophe(y, apostrophe_dict))

def cleantext1(x):
    
    x = re.sub(r'http\S+', '', x)
    x = re.sub(r"#(\w+)", '', x)
    x = re.sub(r"@(\w+)", '', x)
    x = re.sub(r'[^\w\s]', '', x)
    x = re.sub(r'[^\x20-\x7e]',r'', x)

    x = re.sub('[0-9]{5,}', '#####', x)
    x = re.sub('[0-9]{4}', '####', x)
    x = re.sub('[0-9]{3}', '###', x)
    x = re.sub('[0-9]{2}',"##",x)
    
    x = x.strip().lower()
    
    #Emojies cleaning
    x = re.compile("["
                    u"\U0001F600-\U0001F64F"
                    u"\U0001F300-\U0001F5FF"
                    u"\U0001F680-\U0001F6FF"
                    u"\U0001F1E0-\U0001F1FF"
                    u"\U00002702-\U000027B0"
                    u"\U000024C2-\U0001F251"
                    u"\U0001f926-\U0001f937"
                    u'\U00010000-\U0010ffff'
                    u"\u200d"
                    u"\u2640-\u2642"
                    u"\u2600-\u2B55"
                    u"\u23cf"
                    u"\u23e9"
                    u"\u231a"
                    u"\u3030"
                    u"\ufe0f"
                    "]+", flags=re.UNICODE).sub(r'', x)
    
    x = word_tokenize(x)

    return x

DATA['textt'] = DATA['text'].apply(lambda x: cleantext1(x))

### More basic text cleaning for embedding machine learning approaches (rnn, cnn, rnn+cnn)

In [224]:
def cleantext2(y):
    
    x = re.sub(r'http\S+', '', x)
    x = re.sub(r"#(\w+)", '', x)
    x = re.sub(r"@(\w+)", '', x)
    x = re.sub(r'[^\w\s]', '', x)
    x = re.sub(r'[^\x20-\x7e]',r'', x)   
    x = x.strip().lower()
    x = word_tokenize(x)
        
    return y

In [225]:
DATA.head(15)

,text,target,textt
0,@VirginAmerica What @dhepburn said.,1,"[what, said]"
1,@VirginAmerica plus you have added commercials...,2,"[plus, you, have, added, commercials, to, the,..."
2,@VirginAmerica I did not today... Must mean I ...,1,"[i, did, not, today, must, mean, i, need, to, ..."
3,@VirginAmerica it is really aggressive to blas...,0,"[it, is, really, aggressive, to, blast, obnoxi..."
4,@VirginAmerica and it is a really big bad thin...,0,"[and, it, is, a, really, big, bad, thing, abou..."
5,@VirginAmerica seriously would pay $30 a fligh...,0,"[seriously, would, pay, #, #, a, flight, for, ..."
6,"@VirginAmerica yes, nearly every time I fly VX...",2,"[yes, nearly, every, time, i, fly, vx, this, e..."
7,@VirginAmerica Really missed a prime opportuni...,1,"[really, missed, a, prime, opportunity, for, m..."
8,"@virginamerica Well, I didn'tâ¦but NOW I DO! :-D",2,"[well, i, didntbut, now, i, do, d]"
9,"@VirginAmerica it was amazing, and arrived an ...",2,"[it, was, amazing, and, arrived, an, hour, ear..."
10,@VirginAmerica did you know that suicide is th...,1,"[did, you, know, that, suicide, is, the, secon..."
11,@VirginAmerica I &lt;3 pretty graphics. so muc...,2,"[i, lt3, pretty, graphics, so, much, better, t..."
12,@VirginAmerica This is such a great deal! Alre...,2,"[this, is, such, a, great, deal, already, thin..."
13,@VirginAmerica @virginmedia I am flying your #...,2,"[i, am, flying, your, skies, again, u, take, a..."
14,@VirginAmerica Thanks!,2,[thanks]

In [226]:
DATA.textt[3]

['it',
 'is',
 'really',
 'aggressive',
 'to',
 'blast',
 'obnoxious',
 'entertainment',
 'in',
 'your',
 'guests',
 'faces',
 'amp',
 'they',
 'have',
 'little',
 'recourse']

In [227]:
target = DATA['target']
x_train, x_test, y_train, y_test = train_test_split(DATA['textt'], 
                                                target, test_size=0.2, random_state=42, stratify=DATA['target'])

In [228]:
x_train.value_counts()

[thank, you]                                                                                                                                                       55
[thanks]                                                                                                                                                           48
[our, fleets, on, fleek]                                                                                                                                           14
[rt, our, fleets, on, fleek]                                                                                                                                       10
[s, ceo, battles, to, appease, passengers, and, wall, street, waterbury, republican, american]                                                                      8
                                                                                                                                                                   ..
[also, group, 5, is, total, bs]                                                                                                                                     1
[#, #, #, #, dcabos, cancelled, flightled, after, making, us, wait, over, an, hour, if, i, fly, usair, every, week, can, you, upgrade, my, status, proactively]     1
[what, an, incredibly, arrogant, thing, to, say, while, i, sit, here, at, ohare, waiting, for, your, incompetent, airlines, to, refuel, on, a]                      1
[thank, u, for, not, leaving, me, nice, job, running, thru, the, airport, to, catch, your, connecting, flight]                                                      1
[would, have, been, good, to, know, months, ago, that, you, cancelled, flightled, our, flights, leaving, tomorrow]                                                  1
Name: textt, Length: 11386, dtype: int64

In [229]:
countvectorizer_word = CountVectorizer()
countvectorizer_word

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [230]:
vectorizer_word = TfidfVectorizer()
vectorizer_word

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)